.chat-container {
    background: #212121;
    width: 25%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-box {
    /* background: red; */
    padding-left: 1rem;
    width: 100%;
    margin-top: 0.5rem;
}

.chat-box .user-profile {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.chat-box .user-name {
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    display: flex;
}

.chat-box .user-info {
    font-size: 14px;
}

.profile-setting-icon {
    padding: 0 0.2rem;
    gap: 1rem;
    align-items: center;
    display: flex;
}

.right-side-bar {
    width: 0%;
    height: 100%;
    /* padding: 3rem 0; */
    overflow-y: auto;
    background: black;
    position: absolute;
    top: 0;
    right: 0;
}

.right-side-bar-show {
    width: 25%;
    transition: 0.3s all ease-in-out;
}